In [1]:
import json
import pandas as pd
import numpy as np

In [22]:
with open('ResNet_Malignant.json') as json_file:
    data = json.load(json_file)

### number of picture in folder maps_for_tasks = (id - 1) % 100 
для положительного класса считаем кол-во ответов да, для отриц - кол-во ответов нет \
составить табличку: id - тру класс - пред класс - ответ

In [30]:
resnet_mal = pd.DataFrame.from_dict(data)

In [31]:
resnet_mal.head()

,captioning,id,gender,annotator,annotation_id,created_at,updated_at,lead_time
0,/data/upload/22/cf4df1f8-99.jpg,400,Да,10,522,2022-05-23T11:12:52.787632Z,2022-05-23T11:12:52.787667Z,3.226
1,/data/upload/22/1bf2964e-98.jpg,399,Да,10,521,2022-05-23T11:12:48.385160Z,2022-05-23T11:12:48.385194Z,2.695
2,/data/upload/22/08804527-97.jpg,398,Да,10,520,2022-05-23T11:12:44.207588Z,2022-05-23T11:12:44.207643Z,2.640
3,/data/upload/22/51f49ab7-96.jpg,397,Да,10,519,2022-05-23T11:12:36.288955Z,2022-05-23T11:12:36.288991Z,3.207
4,/data/upload/22/822b2726-95.jpg,396,Да,10,518,2022-05-23T11:12:31.580095Z,2022-05-23T11:12:31.580155Z,5.389

In [32]:
resnet_mal = resnet_mal.drop(["captioning", "annotator",
                              "annotation_id", "created_at",
                              "updated_at", "lead_time"], axis=1)

In [33]:
resnet_mal.head()

    id gender
0  400     Да
1  399     Да
2  398     Да
3  397     Да
4  396     Да

In [34]:
resnet_mal.loc[resnet_mal["gender"] == "Да", "gender"] = 1
resnet_mal.loc[resnet_mal["gender"] == "Нет", "gender"] = 0

resnet_mal["id"] = (resnet_mal["id"] - 1) % 100

In [35]:
resnet_mal.head(50)

    id gender
0   99      1
1   98      1
2   97      1
3   96      1
4   95      1
5   94      1
6   93      1
7   92    NaN
8   91      1
9   90      1
10  89      0
11  88      0
12  87      0
13  86      0
14  85      1
15  84      1
16  83      1
17  82      1
18  81      1
19  80      1
20  79      1
21  78      1
22  77      1
23  76      1
24  75      1
25  74      1
26  73      1
27  72      1
28  71      0
29  70      1
30  69      1
31  68      1
32  67      1
33  66      0
34  65      1
35  64      1
36  63      1
37  62      1
38  61      1
39  60      1
40  59      1
41  58      0
42  57      1
43  56      1
44  55      1
45  54      1
46  53      1
47  52      1
48  51      0
49  50      1

In [36]:
df = pd.read_csv('maps_for_tasks_info.csv')
df.head()

                                    path true_label pred_label
0  Maps_for_tasks/ResNet/Malignant/0.jpg  Malignant  Malignant
1     Maps_for_tasks/ViT/Malignant/0.jpg  Malignant  Malignant
2  Maps_for_tasks/ResNet/Malignant/1.jpg  Malignant  Malignant
3     Maps_for_tasks/ViT/Malignant/1.jpg  Malignant  Malignant
4     Maps_for_tasks/ResNet/Benign/0.jpg     Benign     Benign

In [37]:
arr = df.to_numpy()
print(arr[0, 0])

Maps_for_tasks/ResNet/Malignant/0.jpg

In [38]:
idx = []
for i in range(len(arr)):
    if arr[i, 0].find('Maps_for_tasks/ResNet/Malignant/') != -1:
        idx.append(i)

arr = arr[idx]

In [39]:
for i in range(len(arr)):
    arr[i, 0] = int(arr[i, 0].split("/")[3][0])

In [40]:
df = pd.DataFrame(arr, columns = ["id", "true_label", "pred_label"])
df.head()

  id true_label pred_label
0  0  Malignant  Malignant
1  1  Malignant  Malignant
2  2  Malignant  Malignant
3  3  Malignant  Malignant
4  4  Malignant  Malignant

In [41]:
resnet_mal = df.join(resnet_mal.set_index('id'), on='id')

In [42]:
resnet_mal.head()

  id true_label pred_label gender
0  0  Malignant  Malignant      1
1  1  Malignant  Malignant      1
2  2  Malignant  Malignant      1
3  3  Malignant  Malignant      1
4  4  Malignant  Malignant      1

In [45]:
resnet_mal.head(50)

   id true_label pred_label gender
0   0  Malignant  Malignant      1
1   1  Malignant  Malignant      1
2   2  Malignant  Malignant      1
3   3  Malignant  Malignant      1
4   4  Malignant  Malignant      1
5   5  Malignant  Malignant      0
6   6  Malignant  Malignant      0
7   7  Malignant  Malignant      0
8   8  Malignant  Malignant      0
9   9  Malignant  Malignant      1
10  1  Malignant  Malignant      1
11  1  Malignant  Malignant      1
12  1  Malignant  Malignant      1
13  1  Malignant  Malignant      1
14  1     Benign  Malignant      1
15  1  Malignant  Malignant      1
16  1  Malignant  Malignant      1
17  1  Malignant  Malignant      1
18  1  Malignant  Malignant      1
19  1  Malignant  Malignant      1
20  2  Malignant  Malignant      1
21  2  Malignant  Malignant      1
22  2  Malignant  Malignant      1
23  2  Malignant  Malignant      1
24  2  Malignant  Malignant      1
25  2  Malignant  Malignant      1
26  2  Malignant  Malignant      1
27  2  Malignant  Malignant      1
28  2  Malignant  Malignant      1
29  2  Malignant  Malignant      1
30  3  Malignant  Malignant      1
31  3  Malignant  Malignant      1
32  3  Malignant  Malignant      1
33  3  Malignant  Malignant      1
34  3  Malignant  Malignant      1
35  3  Malignant  Malignant      1
36  3  Malignant  Malignant      1
37  3  Malignant  Malignant      1
38  3  Malignant  Malignant      1
39  3  Malignant  Malignant      1
40  4  Malignant  Malignant      1
41  4  Malignant  Malignant      1
42  4  Malignant  Malignant      1
43  4  Malignant  Malignant      1
44  4  Malignant  Malignant      1
45  4  Malignant  Malignant      1
46  4  Malignant  Malignant      1
47  4  Malignant  Malignant      1
48  4  Malignant  Malignant      1
49  4  Malignant  Malignant      1

In [44]:
num_pos_ans = resnet_mal[resnet_mal["gender"] == 1]["gender"].count()
print(num_pos_ans / len(resnet_mal))

0.56

## ViT_Malignant

In [46]:
with open('ViT_Malignant.json') as json_file:
    data = json.load(json_file)
    
vit_mal = pd.DataFrame.from_dict(data)

vit_mal = vit_mal.drop(["captioning", "annotator",
                              "annotation_id", "created_at",
                              "updated_at", "lead_time"], axis=1)

vit_mal.loc[vit_mal["gender"] == "Да", "gender"] = 1
vit_mal.loc[vit_mal["gender"] == "Нет", "gender"] = 0

vit_mal["id"] = (vit_mal["id"] - 1) % 100

df = pd.read_csv('maps_for_tasks_info.csv')
arr = df.to_numpy()

idx = []
for i in range(len(arr)):
    if arr[i, 0].find('Maps_for_tasks/ViT/Malignant/') != -1:
        idx.append(i)
        
arr = arr[idx]

for i in range(len(arr)):
    arr[i, 0] = int(arr[i, 0].split("/")[3][0])
    
df = pd.DataFrame(arr, columns = ["id", "true_label", "pred_label"])

vit_mal = df.join(vit_mal.set_index('id'), on='id')

num_pos_ans = vit_mal[vit_mal["gender"] == 1]["gender"].count()
print(num_pos_ans / len(vit_mal))

1.0

In [49]:
with open('ViT_Benign.json') as json_file:
    data = json.load(json_file)
    
vit_mal = pd.DataFrame.from_dict(data)

vit_mal = vit_mal.drop(["captioning", "annotator",
                              "annotation_id", "created_at",
                              "updated_at", "lead_time"], axis=1)

vit_mal.loc[vit_mal["gender"] == "Да", "gender"] = 1
vit_mal.loc[vit_mal["gender"] == "Нет", "gender"] = 0

vit_mal["id"] = (vit_mal["id"] - 1) % 100

df = pd.read_csv('maps_for_tasks_info.csv')
arr = df.to_numpy()

idx = []
for i in range(len(arr)):
    if arr[i, 0].find('Maps_for_tasks/ViT/Malignant/') != -1:
        idx.append(i)
        
arr = arr[idx]

for i in range(len(arr)):
    arr[i, 0] = int(arr[i, 0].split("/")[3][0])
    
df = pd.DataFrame(arr, columns = ["id", "true_label", "pred_label"])

vit_mal = df.join(vit_mal.set_index('id'), on='id')

num_pos_ans = vit_mal[vit_mal["gender"] == 1]["gender"].count()
print(num_pos_ans / len(vit_mal))

0.34

## Testing

In [2]:
with open('ViT_Malignant.json') as json_file:
    data = json.load(json_file)
    
vit_mal = pd.DataFrame.from_dict(data)

vit_mal = vit_mal.drop(["captioning", "annotator",
                              "annotation_id", "created_at",
                              "updated_at", "lead_time"], axis=1)

vit_mal.loc[vit_mal["gender"] == "Да", "gender"] = 1
vit_mal.loc[vit_mal["gender"] == "Нет", "gender"] = 0

In [ ]:
vit_mal